{% extends "layout.html" %}
{% load shop_filters %}
{% block main %}
<div class="mb-3 col-12 col-md-4 offset-md-4">
    <div class="row shadow-lg rounded p-3">
        {% if data %}
        <div class="mb-3 col-12">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <div>Price: <span class="text-muted">{{ data.price|usd }}</span></div>
                <div>Company: <span class="text-muted">{{ data.name }}</span></div>
                <button type="button" data-bs-dismiss="alert" class="btn-close"></button>
            </div>
        </div>
        {% endif %}
        <form action="{% url 'shop:buy' %}" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="mb-3 col-12">
                <label for="symbol" class="form-label">Symbol</label>
                <input name=symbol class="form-control" required autofocus id="symbol" placeholder="Symbol" pattern="[aA-zZ]{}" autofocus value="{{ data.symbol }}">
                <div class="invalid-feedback">Please provide an alphabetic symbol</div>
            </div>
            <div class="mb-3 col-12">
                <label for="shares" class="form-label">Shares</label>
                <input name=shares class="form-control" required autofocus id="shares" placeholder="Shares" pattern="[1-9].*">
                <div class="invalid-feedback">Shares can't be less than 1</div>
            </div>
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-sm btn-primary">Buy</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}