{% extends "layout.html" %}
{% load shop_filters %}
{% block main %}
{% if purchases %}
<div class="table-responsive">
    <table class="table table-hover border-dark">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.get_symbol }}</td>
                <td>{{ purchase.get_name }}</td>
                <td>{{ purchase.get_shares }}</td>
                <td>{{ purchase.get_price|usd }}</td>
                <td>{{ purchase.get_shares|multiply:purchase.get_price|usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0" colspan="3"></td>
                <th class="border-0">Cash</th>
                <td class="border-0">$655.63</td>
            </tr>
            <tr>
                <td class="border-0" colspan="3"></td>
                <th class="border-0">TOTAL</th>
                <td class="border-0">{{ 10000|usd }}</td>
            </tr>
        </tfoot>
    </table>
</div>
{% else %}
<div class="col-12">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Nothing Found</h4>
        <p>There is nothing avaible in your account to display.</p>
        <hr>
        <p class="mb-0">If looking for something to buy click <a href="{% url 'shop:quote' %}" class="alert-link">here</a>. If looking for history of your sells and purchases click <a href="#" class="alert-link">here</a>.</p>
    </div>
</div>
{% endif %}
{% endblock main %}