<nav class="bg-light sticky-top shadow navbar navbar-expand-md navbar-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'shop:index' %}"><span class="blue">S</span><span class="red">t</span><span class="yellow">0</span><span class="green">c</span><span class="red">k</span></a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav me-auto mt-2">
                <li class="nav-item">
                    <a class="nav-link{% if title == 'quote' %} active{% endif %}" href="{% url 'shop:quote' %}">Quote</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if title == 'buy' %} active{% endif %}" href="{% url 'shop:buy' %}">Buy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if title == 'sell' %} active{% endif %}" href="/sell">Sell</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if title == 'history' %} active{% endif %}" href="/history">History</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mt-2">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:logout' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ms-auto mt-2">
                <li class="nav-item">
                    <a class="nav-link{% if title == 'register' %} active{% endif %}" href="{% url 'user:register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if title == 'login' %} active{% endif %}" href="{% url 'user:login' %}">Login</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>